*{
    margin: 0;
    padding: 0;
    font-family:Helvetica, Arial;
}
ul,li,dt,dd{
    list-style: none;
}
.spaCon{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

header{
    width:100%;
    left: 0;
    z-index: 1001;
}
header img{
    margin-right: 15px;
    margin-left: 16px;
    cursor: pointer;
}
header li{
    float: left;
    margin-left: 46px;
    color: #ffffff;
    font-size: 16px;
    line-height: 71px;
    cursor: pointer;
    position: relative;
}
header li span{
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 18px;
    left: 0;
}
header li.on span,header li:hover span{
    background: #fff;
}
.mainNav{
    position: absolute;
    top: 64px;
}
.subNav{
    position: fixed;
    top: 0;
    background: #0469F5;
    display: none;
    opacity: 0.8;
}


.spaSec2 .spaCon2{
    width: 963px;
    font-size: 16px;
    color: #666666;
    margin: 0 auto;
}
.spaSec2 .alScroll{
    width: 756px;
    height: 232px;
    margin-left: 140px;
    position: relative;
}
.spaSec2 .bd,.spaSec2 .bd li{
    width: 100%;
    height: 220px;
    overflow: hidden;
    zoom:1; 
}
.alScroll .bd li{ 
    overflow:hidden; 
    float:left;
}
.spaSec2 .bd div{
    font-family:Helvetica;
    width: 354px;
    /* text-align: justify; */
    line-height: 27px;
}
.spaSec2 .bd span{
    color: #0C75EF;
}

.pageState{
    display:none;
}
.alScroll .hd .prev,.alScroll .hd .next{
    display:block;
    width:32px;
    height:32px;
    cursor:pointer;
    position:absolute;
    top:45px;
}
.alScroll .hd .prev{
    background:url("../images/arrow1.jpg") no-repeat;
    left:-71px;
}
.alScroll .hd .next{
    background:url("../images/arrow2.jpg") no-repeat;
    right:-71px;
}
.alScroll .hd .prev:hover{
    background:url("../images/arrow3.png") no-repeat;
}
.alScroll .hd .next:hover{
    background:url("../images/arrow4.jpg") no-repeat;
}
.alScroll .hd .prevStop:hover{
    background:url("../images/arrow1.jpg") no-repeat;
}
.alScroll .hd .nextStop:hover{
    background:url("../images/arrow2.jpg") no-repeat;
}

.alScroll .hd ul{
    overflow:hidden;
    zoom:1;
    position:absolute;
    bottom:-20px;
    width:100%;
    text-align: center;
}
.alScroll .hd ul li{
    width:8px;
    height:8px;
    display: inline-block;
    margin:0 5px;
    text-indent:-999px;
    cursor:pointer;
    background:#E2E2E2;
    border-radius:50%;
}
.alScroll .hd ul li.on{
    background:#03B8FF;
    border-radius:4px;
    width:18px;
}


.spaSec4 .bd{
    width:281px;
    height:499px;
    overflow:hidden;
    position:absolute;
    top:58px;
    left:50%;
    margin-left:-140px;
    background: #f6f6f6;
}
.spaSec4 .bd li{
    width:280px;
    height:499px;
    float:left;
}
.spaSec4 .bd li img{
    width:280px;
    height:499px;
    display:block;
}

.img1,.img2,.img4,.img5,.img6,.img7,.img8{
    width: 100%;
    height: 699px;
}
.img1{
    background: url("../images/allspark_01.png") no-repeat center top;
}
.img2{
    background: url("../images/allspark_02.png") no-repeat center top;
}
.img3{
    width: 100%;
    height: 382px;
    padding-top: 318px;
    background: url("../images/allspark_03.png") no-repeat center top;
    position: relative;
}
.img4{
    background: url("../images/allspark_04.png") no-repeat center top;
}
.img5{
    background: url("../images/allspark_05.png") no-repeat center top;
}
.img6{
    background: url("../images/allspark_06.png") no-repeat center top;
}
.img7{
    background: url("../images/allspark_07.png") no-repeat center top;
}
.img8{
    background: url("../images/allspark_08.png") no-repeat center top;
}
.img9{
    width: 100%;
    height: 1161px;
    position: relative;
    background: url("../images/allspark_09.png?v5") no-repeat center top;
}
.more{
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin: 0 0 0 -65px;
    width: 130px;
    height: 60px;
}
.img10{
    width: 100%;
    height: 434px;
    background: url("../images/allspark_10.png?v2") no-repeat center top #ffffff;
}
.img10 .spaCon{
    padding-top: 233px;
    height: 201px;
}
.scroolMenu{
    width: 105px;
    height: 103px;
    background: url("../images/top2.png?v1") no-repeat center top;
    position: fixed;
    left: 50%;
    bottom: 50px;
    margin-left: 705px;
}
.scroolMenu a.chat{
    display: block;
    width: 67px;
    height: 67px;
    background: url("../images/partner.png") no-repeat -350px -84px;
    margin: -30px auto 0;
}
.scroolMenu a.chat:hover{
    background-position: -350px 0;
}
.scroolMenu a.top{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.spaPartner{
    width: 100%;
    height: 67px;
    text-align: center;
}
.spaPartner a{
    display: inline-block;
    width: 67px;
    height: 67px;
    background: url("../images/partner.png") no-repeat;
    margin: 0 25px;
}
.spaPartner a.a1{
    background-position: 0 -84px;
}
.spaPartner a.a2{
    background-position: -117px -84px;
}
.spaPartner a.a3{
    background-position: -233px -84px;
}
.spaPartner a.a4{
    background-position: -350px -84px;
}
.spaPartner a.a1:hover{
    background-position: 0 0;
}
.spaPartner a.a2:hover{
    background-position: -117px 0;
}
.spaPartner a.a3:hover{
    background-position: -233px 0;
}
.spaPartner a.a4:hover{
    background-position: -350px 0;
}
.spaMail{
    position: absolute;
    display: block;
    bottom: 0;
    left: 118px;
    width: 210px;
    height: 60px;
    background: rgba(255,255,255,0);
}
.spaMail:hover{
    background: rgba(255,255,255,0.25);
}

.icoHeader{
    width: 100%;
    height: 300px;
    background: url("../images/ico_intro_bg.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.icoHeaderWrap{
    width: 1100px;
    height: 300px;
    background: url("../images/ico_intro_wrap.png?v1") no-repeat center top;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
}
.icoLink{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.icoWrap{
    width: 1100px;
    margin: 40px auto 120px auto;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}
.icoFirst{
    font-size: 18px;
    line-height: 30px;
}
.icoCharts{
    width: 530px;
    height: 277px;
    background: url("../images/ico_charts.jpg") no-repeat;
    background-size: 100% 100%;
    margin: 40px 0;
}

.icoTable{
    width: 565px;
}
.icoTable tr td{
    height: 50px;
    text-align: center;
    
}
.icoTable tr td.one{
    background: #35468d;
    color: #fff;
}
.icoTable tr td.two{
    background: #d4dcff;
}
.icoTable tr td.three{
    background: #f5f7ff;
}

/* team */
.team-nav{
    width: 100%;
    height: 100px;
    background: #3650c3;
}
.team-nav-wrap{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}
.team-logo{
    float: left;
    width: 150px;
    height: 100px;
    margin: 0 50px;
    background: url("../images/team_logo.png") no-repeat;
}
.nav-ul{

}

.nav-ul li a{
    color:#fff;
    text-decoration: none;
}

.nav-ul li{
    float: left;
    margin-left: 46px;
    color: #ffffff;
    font-size: 16px;
    line-height: 100px;
    cursor: pointer;
    position: relative;
}
.nav-ul li span{
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 30px;
    left: 0;
}
.nav-ul li.on span,.nav-ul li:hover span{
    background: #fff;
}
.teamWrap{
    width: 1400px;
    min-height: 3600px;
    margin: 0 auto;
    /* background: url("../images/team_bg.jpg") no-repeat; */
}
.team1,.team2{
    width: 1100px;
    display: block;
    margin: 0 auto;
}
.team1{
    height: 1630px;
    background: url("../images/team1.jpg?v=2") no-repeat;
    background-size: 100% 100%;
}
.team2{
    height: 1800px;
    background: url("../images/team2.jpg") no-repeat;
    background-size: 100% 100%;
}